body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Align items to the top */
  height: 100vh;
  background-image: url("image.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.container {
  width: 300px; /* Adjust the width of the container */
  margin-top: 50px; /* Add margin from the top */
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 150px;
}

.logo img {
  width: 100%;
}
 h2{ text-align: center;
  color: #333;
  margin-top: 0; /* Remove default margin */
}

form {
  margin-top: 20px;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
  align-items: baseline;
  width: calc(100% - 40px); /* Adjust the width of the input fields */
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="submit"] {
  align-items: baseline;
  background-color: #007bff;
  border: none;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

a {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
}
